{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
	<title>{% block title%} Base Template {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static "static_assets/css/default.css" %}">
	
	<script src="{% static "assets/js/jaqury-2.0.0.min.js" %}"></script>
	<script src="{% static "assets/js/ajax.js" %}"></script>
	
	<!-- 
	<style type="text/css">
		body {
		text-align: center;
		}
		
		#page{
			width: 960px;
			text-align: left;
			margin: 10px auto 20px auto;
			background-color: green;
		}
		
		#sidebar{
			float: left;
			width: 200px;
			border: 1px solid black ;
		}
		
		#content{
			float: left;
			width: 900px;
			border: 1px solid  black;
			padding: 10px;
		}		
	</style>
	-->
	
</head>

<body>
	<div id="page">
	
	<div id="sidebar">
		{% block sidebar%}
		<ul>
			<li><a href="/articles/all">Articles</a></li>
			<li><a href="/admin">Admin</a></li>
		</ul>
		{% endblock %}
	</div>
	
	<div id="content">
		{% block content %} This is the content area {% endblock %}
		<img  src="{% static "static_assets/images/ubuntulogo.jpg" %}" width="200" />
	</div>
	
	</div>

</body>
</html>